<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Archetype Created Web Application</display-name>
    <!-- IMPORTANT ! This line defines the default controller : -->

    <welcome-file-list>
        <welcome-file>accueil</welcome-file>
    </welcome-file-list>
    
    <!-- This component has a dependency on an external resource-->
    <resource-ref>
        <description> DB Connection Pooling</description>
        <res-ref-name>jdbc/pool/MyAppDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth> Container</res-auth>
    </resource-ref>
    <!-- MongoDB parameters -->
    <context-param>
        <param-name>MONGODB_HOST</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>MONGODB_PORT</param-name>
        <param-value>27017</param-value>
    </context-param>

    <!-- error-code related error pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/error</location>
    </error-page>
    <!-- exception-type related error pages -->
    <error-page>
        <exception-type>
            javax.servlet.ServletException
        </exception-type>
        <location>/error</location>
    </error-page>
</web-app>
